body {
    background: #add8e6; /* Błękitne tło */
    font-family: 'Segoe UI', sans-serif;
    padding: 30px;
    line-height: 1.6;
}

h1 {
    color: #2c3e50;
    text-shadow: 1px 1px 2px white;
}

li {
    margin-bottom: 10px;
}

li a {
    color: #00008b;
    font-weight: bold;
    text-decoration: none;
}

li a:hover {
    color: #ff4500;
    text-decoration: underline;
}